/*Reset styles*/
html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: 'Inter', sans-serif;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/*Containers*/
.container {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}